{% extends "base.html" %}
{% block page_title %} Schedule {% endblock %}
{% load static %}
{% block content %}

<style>
#Schedule th{
    padding-bottom: 20%;
}
</style>

<h1 style="text-align: center;"><u>Weekly Schedule</u></h1><br>

<table class="table">
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
{% for day, games in gameslist.items %}
   {% for game in games %} 
    <tr id="Schedule">
        {% if game.day == "Sun" %}
        <td>{{game.away_seed}} {{game.away_team}} @ {{game.home_seed}} {{game.home_team}}<br>{{game.status}}</td>
        {% else %}
            <td> </td>
        {% endif %}

        {% if game.day == "Mon" %}
        <td>{{game.away_seed}} {{game.away_team}} @ {{game.home_seed}} {{game.home_team}}<br>{{game.status}}</td>
        {% else %}
            <td> </td>
        {% endif %}
        
        {% if game.day == "Tue" %}
        <td>{{game.away_seed}} {{game.away_team}} @ {{game.home_seed}} {{game.home_team}}<br>{{game.status}}</td>
        {% else %}
            <td> </td>
        {% endif %}
        
        {% if game.day == "Wed" %}
        <td>{{game.away_seed}} {{game.away_team}} @ {{game.home_seed}} {{game.home_team}}<br>{{game.status}}</td>
        {% else %}
            <td> </td>
        {% endif %}
        
        {% if game.day == "Thu" %}
        <td>{{game.away_seed}} {{game.away_team}} @ {{game.home_seed}} {{game.home_team}}<br>{{game.status}}</td>
        {% else %}
            <td> </td>
        {% endif %}
        
        {% if game.day == "Fri" %}
        <td>{{game.away_seed}} {{game.away_team}} @ {{game.home_seed}} {{game.home_team}}<br>{{game.status}}</td>
        {% else %}
            <td> </td>
        {% endif %}
        
        {% if game.day == "Sat" %}
        <td>{{game.away_seed}} {{game.away_team}} @ {{game.home_seed}} {{game.home_team}}<br>{{game.status}}</td>
        {% else %}
            <td> </td>
        {% endif %}
        
    </tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock %}
{% comment %} {% for games in games_list["Mon"] %}
    
{% endfor %} {% endcomment %}

