{% extends "base.html" %}
{% block page_title %} Standings {% endblock %}
{% comment %} {% load render_table from django_tables2 %} {% endcomment %}
{% load static %}
{% block content %}

<body>
    <!-- Bootstrap Notes -->
    <!-- Wrap everything with container, every 'col-sm' div tag breaks the page into a new column -->
    <!-- For better explanation go to https://getbootstrap.com/docs/4.1/layout/overview/ -->
    <h1 style="text-align: center"><u>Eastern Standings</u></h1><br>
    <table class="table" id="tableHeaders1">
        <tr>
            <th>Rank</th>
            <th>Team Name</th>
            <th>Games</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win Pct</th>
            <th>Home Record</th>
            <th>Away Record</th>
        </tr>
        <!-- jinja2 Technique -->
        <!-- So we can print only east first, east coming from locals() in views.py -->
        <!-- Can now loop through each row and access fields given by the Standings model -->
        {% if east %}
        {% for team in east %}
        <tr>
            <td>{{team.rank}}</td>
            <td>{{team.team}}</td>
            <td>{{team.g}}</td>
            <td>{{team.w}}</td>
            <td>{{team.l}}</td>
            <td>{{team.w_pct}}</td>
            <td>{{team.home_record}}</td>
            <td>{{team.road_record}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    <h1 style="text-align: center"><u>Western Standings</u></h1><br>
    <table class="table">
        <tr>
            <th>Rank</th>
            <th>Team Name</th>
            <th>Games</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win Pct</th>
            <th>Home Record</th>
            <th>Away Record</th>
        </tr>
        <!-- jinja2 Technique -->
        {% if west %}
        {% for team in west %}
        <tr>
            <th>{{team.rank}}</th>
            <td>{{team.team}}</td>
            <td>{{team.g}}</td>
            <td>{{team.w}}</td>
            <td>{{team.l}}</td>
            <td>{{team.w_pct}}</td>
            <td>{{team.home_record}}</td>
            <td>{{team.road_record}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>
</html>

{% endblock %}