{% extends "base.html" %}
{% block page_title %} GoSports! {% endblock %}
{% load static %}
{% block content %}

<style>
    
    * {
        box-sizing: border-box;
      }
    
    .col {
        border: 1px solid black; 
        margin-left:1%; 
        margin-right:1%;
    }
    .col:hover {
        background-color: #e0e0e0;;
    }
    p {
        text-align: center;
        font-size: 16pt;
        color: #124559;
    }

    .smallHeader {
        height: 140px;
        width: 100%;
    }

    .scheduleTable {
        border: 5px solid black;
        color: black;
        background-color: #AEC3B0;

    }

    .scheduleTable td {
        border-right: 5px solid black;
        font-size: 18pt;
    }
</style>
<div class="container">
<div class="row" style="background-color: whitesmoke">
    <div>
        <img src="{% static 'HomePageItem.png' %}" class=smallHeader></img>
    </div>

    <br>
    <h1 style="text-align: center;">Welcome to GoSports! This website is the place to go to find stats on your favorite teams and players.</h1>
</div>
</div>


<div class="container" style="justify-content: space-between;">
    <div class="row justify-content-end">
    {% for game in games_today %}
        <div class="col" style="text-align: center;">
        {% if game.qtr == 0 %}
            <p>{{game.home_team}}  @  {{game.away_team}}<br>{{game.status}}</p>
            

        {% else %}
            {{game.home_team}} @ {{game.away_team}} <br> <br>
            {{game.home_team}} {{game.home_pts|floatformat:"0"}} - {{game.away_pts|floatformat:"0"}} {{game.away_team}}  <br> <br>
            {{game.status}}: {{game.time}} remaining
        {% endif %}
        </div>
        {% endfor %}
    </div>  
</div>
{% endblock %}