{% extends "base.html" %}
{% block page_title %} Standings {% endblock %}
{% comment %} {% load render_table from django_tables2 %} {% endcomment %}
{% load static %}
{% block content %}

<style>
    * {
        box-sizing: border-box;
      }
      
      .row {
        margin-left:-5px;
        margin-right:-5px;
        background-color: lightgray;
        border: white;
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
    }
        
      .column {
        float: left;
        width: 50%;
        padding: 5px;
      }
      
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
</style>

<body>
    <!-- Bootstrap Notes -->
    <!-- Wrap everything with container, every 'col-sm' div tag breaks the page into a new column -->
    <!-- For better explanation go to https://getbootstrap.com/docs/4.1/layout/overview/ -->
    <div class="row" style="background-color:#124559; color:lightgray; margin-top:1%; margin-left:20%;margin-right:20% ">
        
        <div class="column">
            <h1 style="text-align: center; font-family: Monaco;">Eastern Standings</h1>
        </div>
        <div class="column">
            <h1 style="text-align: center;  font-family: Monaco;">Western Standings</h1>
        </div>

    </div>
    <div class="row" style="background-color: whitesmoke; border: 1px solid darkgray; border-radius:0%;margin-left:3%; margin-right:3%;">
       <br>
        <div class="column">
            <table class="standingsTable"  id="east_table">
                <tr>
                    <th>Rank</th>
                    <th>Team Name</th>
                    <th>Games</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Home Record</th>
                    <th>Away Record</th>
                </tr>
                <!-- jinja2 Technique -->
                <!-- So we can print only east first, east coming from locals() in views.py -->
                <!-- Can now loop through each row and access fields given by the Standings model -->
                {% if east %}
                {% for team in east %}
                <tr>
                    <td>{{team.rank}}</td>
                    <td>{{team.team}}</td>
                    <td>{{team.g}}</td>
                    <td>{{team.w}}</td>
                    <td>{{team.l}}</td>
                    <td>{{team.home_record}}</td>
                    <td>{{team.road_record}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="column">
            <table class="standingsTable"   id="west_table">
                <tr>
                    <th>Rank</th>
                    <th>Team Name</th>
                    <th>Games</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Home Record</th>
                    <th>Away Record</th>
                </tr>
                <!-- jinja2 Technique -->
                {% if west %}
                {% for team in west %}
                <tr>
                    <td>{{team.rank}}</td>
                    <td>{{team.team}}</td>
                    <td>{{team.g}}</td>
                    <td>{{team.w}}</td>
                    <td>{{team.l}}</td>
                    <td>{{team.home_record}}</td>
                    <td>{{team.road_record}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</body>
</html>

{% endblock %}